<div id="top" class="header">
  <div class="vert-text">
    <h1>Transgress</h1>
    <div class="intro-text"> 
      <h3>
        Transgress is a content-filtering bypass system developed specifically 
        to allow access to trans-related resources on public networks 
        (libraries, schools, etc.).
      </h3>
    </div>

    <%= form_tag "/visit", class: "form-inline", role: "form" do %>
      <div class="form-group">
        <label class="sr-only" for="page">Enter Site URL</label>
        <input class="form-control" placeholder="Enter Site URL" type="text" name="page" id="page">

        <button type="submit" class="btn btn-default">transgress</button>
      </div>
    <% end %>
  </div>
</div>
